# Python
**/venv/
**/env/
**/__pycache__/
**/*.pyc

# Environment files
**/.env
**/.env.*
*.env

# Database
**/*.db
**/*.sqlite3

# Uploads
**/uploads/

# Node
**/node_modules/

# Build files
build/
dist/

# Backup files
*.zip
Task 5 - Copy/

# VS Code
.vscode/